version: "3.9"

services:
  api-gateway:
    build: ./api-gateway
    container_name: api_gateway
    ports:
      - "3000:3000"
    depends_on:
      - auth-service

  auth-service:
    build: ./services/auth-service
    container_name: auth_service
    ports:
      - "3001:3001"
